<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Vue.js</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div id="app">
            <table class="table">
                <th>No.</th><th>ISBN</th><th>署名</th><th>価格</th>
                <tr v-for="(b, i) in books">
                    <td>{{ i + 1 }}</td>
                    <td>{{ b.isbn }}</td>
                    <td>{{ b.title }}</td>
                    <td>{{ b.price }}円</td>
                </tr>
            </table>

            <ul v-for="(value, key, i) in book">
                <li>{{ key }} : {{ value }}</li>
            </ul>

            <span v-for="i in 5">{{ i * 2 }}</span>
        </div>
        <script src="lib/vue.js"></script>
        <script src="js/for.js"></script>
    </body>
</html>